body{
    font-family: 'Fira Sans', sans-serif;
}

header{
    background-image: url(../img/bg_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 33rem;
    padding-bottom: 10rem;
}

.letra-serif{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.navbar{
    background-color: #eec6c1;
}

.navbar-dark .navbar-brand{
    color: #915629;
}

.navbar-dark .navbar-toggler{
   color:#915629 ;
   border-color: #915629;
}

.navbar-dark .navbar-nav .nav-link{
    color: #4a502d;  
}

.fondo-texto-rosado{
  background-color: #eec6c1; 
  color: #4a502d; 
  max-width: 18rem; 
  margin-top: 13rem;
}

.fondo-texto-blanco{
    background-color:white; 
    color: #915629;
    max-width: 8rem; 
    margin-bottom: -13rem;
    margin-top: 13rem;
  }

  h2{
    color: #4a502d;  
    font-size: 3rem; 
  }

  .color-cafe{
    color: #915629;
  }

  .color-rosa{
      color: #eec6c1;
  }

  p{
    color: #4a502d;   
  }

  .borde-top{
    border-bottom: 2px solid #eec6c1;
   max-width: 13rem;
}

.fondo-texto-rosa{
    background-color: #eec6c1; 
    color: #915629;
    max-width: 8rem;
}

.fondo-verde{
    background-color: #4a502d; 
}

.sobre-mi{
    background-color: #f6ede6;
}

#experiencia.container-fluid{
    background-color: #c6c8b8;  
}


.color-verde{
    color: #4a502d;
}

#experiencia .card{
    max-width: 18rem;
    height: 10rem;
    background-color:#c6c8b8;
    border: none;
}

#experiencia .card img{
    max-width: 10rem;
}

.borde-top2{
    border-bottom: 5px solid #eec6c1;
   max-width: 22rem;
}

#trabajos .container-fluid{
    background-color:#f6ede6;
}

#trabajos .card{
    max-width: 20rem;
}


.btn-light {
    color: #4a502d;
    background-color: #eec6c1;
    border-color: #eec6c1;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { #trabajos .card{
    width: 18rem;
}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { #trabajos .card{
    width: 18rem;
}
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { #trabajos .card{
    width: 18rem;
}
}

.footer-nombre{
    letter-spacing: 0.4rem;
}

.link{
color: #ffffff;
text-decoration: none;
}