body{
    font-family: 'Fira Sans', sans-serif;
}

header{
    background-image: url(../img/bg_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 25rem;
    padding-bottom: 10rem;
}

.letra-serif{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.navbar{
    background-color: #eec6c1;
}

.navbar-dark .navbar-brand{
    color: #915629;
}

.navbar-dark .navbar-toggler{
   color:#915629 ;
   border-color: #915629;
}

.navbar-dark .navbar-nav .nav-link{
    color: #4a502d;  
}

.fondo-texto-rosado{
  background-color: #eec6c1; 
  color: #4a502d; 
  max-width: 18rem; 
  margin-top: 13rem;
}

.fondo-texto-blanco{
    background-color:white; 
    color: #915629;
    max-width: 8rem; 
    margin-bottom: -13rem;
    margin-top: 13rem;
  }

  h2{
    color: #4a502d;  
    font-size: 3rem; 
  }

  .color-cafe{
    color: #915629;
  }

  p{
    color: #4a502d;   
  }

  .borde-top{
    border-bottom: 2px solid #eec6c1;
   max-width: 13rem;
}

.fondo-texto-rosa{
    background-color: #eec6c1; 
    color: #915629;
    max-width: 8rem;
}

.sobre-mi{
    background-color: #f6ede6;
    padding: 1rem;
}